body {
  background: #232323;
  color: #cdcdcd;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.miap span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
}

.miap span:nth-child(1) { animation-delay: 0s; }
.miap span:nth-child(2) { animation-delay: 0.1s; }
.miap span:nth-child(3) { animation-delay: 0.2s; }
.miap span:nth-child(4) { animation-delay: 0.3s; }
.miap span:nth-child(5) { animation-delay: 0.4s; }
.miap span:nth-child(6) { animation-delay: 0.5s; }
.miap span:nth-child(7) { animation-delay: 0.6s; }
.miap span:nth-child(8) { animation-delay: 0.7s; }
.miap span:nth-child(9) { animation-delay: 0.8s; }
.miap span:nth-child(10) { animation-delay: 0.9s; }


h1 {
  /* use clamp which is like range func : clamp(MIN, SCALING, MAX) */
  font-size: clamp(40px, 6vw, 110pt); 
  text-align: center;
  width: 100%;
  margin-top:20px;
  margin-bottom: -10px;
}

.miaphoto {
    max-width: 35%;
    border-radius: 50%;
    margin: auto;
    display:block;
    border-style: solid;
    border-width: 5px;
}

.miaphoto img {
  width: 100%;
  height: auto;
}
figcaption {
  padding-top: 20px;
  text-align: center;
  font-size: clamp(24px, 2vw, 32px);
  font-family: "League Spartan", sans-serif;
  font-weight: 100;
  a:link {
  color: #ffffff;
  text-decoration: none;
  }
  a:visited {
  color: #ffffff;
  text-decoration: none;
  }
  a:hover {
  color: #FF1491;
  text-decoration: none;
}
}
.bio1 {
  /* blend background into pink to purp */
  background: linear-gradient(to bottom, #232323 0%, #2a2a2a 6%,#d0829c 16%, #F48FB1 25%, #F48FB1 40%, #E197D4 75%, #B39DDB 100%);
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  color: #232323;
  line-height: 1.6;
  padding: 120px 30px 1px 30px; /* top padding for blend */
  margin:0px;
  display:block;
}

.bio2 {
    /*purp to cyan*/
  background: linear-gradient(to bottom, #B39DDB 0%, #A3B9F0 40%, #89D9E6 80%, #80DEEA 100%);
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  color: #232323;
  line-height: 1.6;
  padding: 1px 30px;
  margin:0px;
  display:block;
}

.fact1 {
    /*cyan to green*/
  background: linear-gradient(to bottom, #80DEEA 0%, #A5D6A7 50%, #C5E1A5 100%);
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  color: #232323;
  line-height: 1.6;
  padding: 1px 30px;
  margin:0px;
  display:block;
}

.fact2 {
  background: linear-gradient(to bottom,#C5E1A5 0%, #f4fe65 50%, #feef65 80%, #fed665 100%);
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  color: #232323;
  line-height: 1.6;
  padding: 1px 30px;
  margin:0px;
  display:block;
}


.mybio span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
}

.mybio span:nth-child(1) { animation-delay: 0s; }
.mybio span:nth-child(2) { animation-delay: 0.1s; }
.mybio span:nth-child(3) { animation-delay: 0.2s; }
.mybio span:nth-child(4) { animation-delay: 0.3s; }
.mybio span:nth-child(5) { animation-delay: 0.4s; }
.mybio span:nth-child(6) { animation-delay: 0.5s; }
.mybio span:nth-child(7) { animation-delay: 0.6s; }

.funfactt1 span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
}

.funfactt1 span:nth-child(1) { animation-delay: 0s; }
.funfactt1 span:nth-child(2) { animation-delay: 0.1s; }
.funfactt1 span:nth-child(3) { animation-delay: 0.2s; }
.funfactt1 span:nth-child(4) { animation-delay: 0.3s; }
.funfactt1 span:nth-child(5) { animation-delay: 0.4s; }
.funfactt1 span:nth-child(6) { animation-delay: 0.5s; }
.funfactt1 span:nth-child(7) { animation-delay: 0.6s; }
.funfactt1 span:nth-child(8) { animation-delay: 0.7s; }
.funfactt1 span:nth-child(9) { animation-delay: 0.8s; }
.funfactt1 span:nth-child(10) { animation-delay: 0.9s; }

.funfactt2 span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
  /*rgba includes semi transparent*/
}

.funfactt2 span:nth-child(1) { animation-delay: 0s; }
.funfactt2 span:nth-child(2) { animation-delay: 0.1s; }
.funfactt2 span:nth-child(3) { animation-delay: 0.2s; }
.funfactt2 span:nth-child(4) { animation-delay: 0.3s; }
.funfactt2 span:nth-child(5) { animation-delay: 0.4s; }
.funfactt2 span:nth-child(6) { animation-delay: 0.5s; }
.funfactt2 span:nth-child(7) { animation-delay: 0.6s; }
.funfactt2 span:nth-child(8) { animation-delay: 0.7s; }
.funfactt2 span:nth-child(9) { animation-delay: 0.8s; }
.funfactt2 span:nth-child(10) { animation-delay: 0.9s; }

/*horizontal offset left and right, vertical offset up and down, blur solid vs translucent*/
/*rainbow keyframes will work for all spans*/
@keyframes rainbow {
  0%   { 
    color: #00FFFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
  20%  { 
    color: #FFBF0A;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 191, 10, 0.6); 
  }
  40%  { 
    color: #78F57C;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(120, 245, 124, 0.6); 
  }
  60%  { 
    color: #FF1493;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 20, 147, 0.6); 
  }
  80%  { 
    color: #9932CC; /* Purple */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(153, 50, 204, 0.6); 
  }
  100% { 
    color: #00FFFF; /* Back to Cyan to complete the circle */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
}

a:link {
  color: #FF1491;
}

/* visited link */
a:visited {
  color: #232323;
  text-decoration: solid;
}

a:hover {
  color: #9932CC;
  text-decoration: none;
}