/*Colored letters*/

h1 {
  /* use clamp which is like range func : clamp(MIN, SCALING, MAX) */
  font-size: clamp(40px, 6vw, 110pt); 
  text-align: center;
  width: 100%;
  margin-top:20px;
  margin-bottom: -10px;
}

.featuredprojects span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
  margin-bottom:40px;
}

.featuredprojects span:nth-child(1) { animation-delay: 0s; }
.featuredprojects span:nth-child(2) { animation-delay: 0.1s; }
.featuredprojects span:nth-child(3) { animation-delay: 0.2s; }
.featuredprojects span:nth-child(4) { animation-delay: 0.3s; }
.featuredprojects span:nth-child(5) { animation-delay: 0.4s; }
.featuredprojects span:nth-child(6) { animation-delay: 0.5s; }
.featuredprojects span:nth-child(7) { animation-delay: 0.6s; }
.featuredprojects span:nth-child(8) { animation-delay: 0.7s; }
.featuredprojects span:nth-child(9) { animation-delay: 0.8s; }
.featuredprojects span:nth-child(10) { animation-delay: 0.9s; }
.featuredprojects span:nth-child(11) { animation-delay: 0s; }
.featuredprojects span:nth-child(12) { animation-delay: 0.1s; }
.featuredprojects span:nth-child(13) { animation-delay: 0.2s; }
.featuredprojects span:nth-child(14) { animation-delay: 0.3s; }
.featuredprojects span:nth-child(15) { animation-delay: 0.4s; }
.featuredprojects span:nth-child(16) { animation-delay: 0.5s; }
.featuredprojects span:nth-child(17) { animation-delay: 0.6s; }
.featuredprojects span:nth-child(18) { animation-delay: 0.7s; }

@keyframes rainbow {
  0%   { 
    color: #00FFFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
  20%  { 
    color: #FFBF0A;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 191, 10, 0.6); 
  }
  40%  { 
    color: #78F57C;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(120, 245, 124, 0.6); 
  }
  60%  { 
    color: #FF1493;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 20, 147, 0.6); 
  }
  80%  { 
    color: #9932CC; /* Purple */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(153, 50, 204, 0.6); 
  }
  100% { 
    color: #00FFFF; /* Back to Cyan to complete the circle */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
}

p{
  text-align: center;
  font-family: "League Spartan", sans-serif;
  line-height: 1.3;
  font-size: clamp(18px, 2vw, 24px);
}
h2{
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: clamp(18px, 2vw, 24px);
}

.bothprojects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: clamp(400px, 40vw, 1000px);
}

.project iframe {
  width: 100%;
  height: clamp(400px, 35vw, 800px);
}

.wrap {
  text-align:center;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}
a:link {
  color: #FF1491;
  text-decoration: underline dotted #00FFFF 2px;
  text-underline-offset: 25%;
}

/* visited link */
a:visited {
  color: #232323;
  text-decoration: solid;
}

a:hover {
  color: #9932CC;
  text-decoration: none;
}