.home-card {
  max-width: 1200px;
  margin: 2em auto;
  padding: 1em;
}
.resource-card {
  background-color: #0b0b0b;
  margin: auto;
  padding: .3px 15px 10px 15px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
  text-align: center;
}
.badge-base{
  margin:2em;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.08);
  width:332px;
  height:198px;
}
p{
  font-size: 20px;
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-weight: 400;
}
h1 {
  /* use clamp which is like range func : clamp(MIN, SCALING, MAX) */
  font-size: clamp(40px, 6vw, 110pt); 
  text-align: center;
  width: 100%;
  margin-top:20px;
  margin-bottom: -10px;
}
.resource-card h1{
  font-size: 30px;
}
.resource-card h2{
  font-size: 20px;
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-weight: 400;
}
.resume{
  padding:3px;
  box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.08);
}
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.alltogether{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resumecontact span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
  margin-bottom:40px;
}

.resumecontact span:nth-child(1) { animation-delay: 0s; }
.resumecontact span:nth-child(2) { animation-delay: 0.1s; }
.resumecontact span:nth-child(3) { animation-delay: 0.2s; }
.resumecontact span:nth-child(4) { animation-delay: 0.3s; }
.resumecontact span:nth-child(5) { animation-delay: 0.4s; }
.resumecontact span:nth-child(6) { animation-delay: 0.5s; }
.resumecontact span:nth-child(7) { animation-delay: 0.6s; }
.resumecontact span:nth-child(8) { animation-delay: 0.7s; }
.resumecontact span:nth-child(9) { animation-delay: 0.8s; }
.resumecontact span:nth-child(10) { animation-delay: 0.9s; }
.resumecontact span:nth-child(11) { animation-delay: 0s; }
.resumecontact span:nth-child(12) { animation-delay: 0.1s; }
.resumecontact span:nth-child(13) { animation-delay: 0.2s; }
.resumecontact span:nth-child(14) { animation-delay: 0.3s; }
.resumecontact span:nth-child(15) { animation-delay: 0.4s; }
.resumecontact span:nth-child(16) { animation-delay: 0.5s; }
.resumecontact span:nth-child(17) { animation-delay: 0.6s; }
.resumecontact span:nth-child(18) { animation-delay: 0.7s; }

@keyframes rainbow {
  0%   { 
    color: #00FFFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
  20%  { 
    color: #FFBF0A;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 191, 10, 0.6); 
  }
  40%  { 
    color: #78F57C;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(120, 245, 124, 0.6); 
  }
  60%  { 
    color: #FF1493;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 20, 147, 0.6); 
  }
  80%  { 
    color: #9932CC; /* Purple */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(153, 50, 204, 0.6); 
  }
  100% { 
    color: #00FFFF; /* Back to Cyan to complete the circle */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
}
a:link {
  color: #FF1491;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ffffff;
  text-decoration: solid;
}

a:hover {
  color: #9932CC;
  text-decoration: none;
}