/*Fonts*/

/*<weight>: Use a value from 100 to 900 
// <uniquifier>: Use a unique and descriptive class name */

.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
/*/ <weight>: Use a value from 1 to 1000
// <uniquifier>: Use a unique and descriptive class name */

.google-sans-flex-<uniquifier> {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

/*Fonts*/

/* FOOTER */
footer {
  text-align: center;
  font-size: 0.85em;
  color: #cccccc;
}

body
{
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
}
* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  height: 100%;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
/*regular link no hover color*/
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
/*hover color*/
#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*Keep everything under*/
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*keep everything under*/
#menu
{
  position: absolute;
  max-width: 350px;
  height:100%;
  width: 100%;
  /*max-height: 100vh;*/
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

.indexhello{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  float: left;
  margin-left: 100px;
  margin-top:40px;
}
.indexintro{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  float:right;
  text-align:right;
  margin-top:30px;
  margin-left:250px;
  margin-right:70px;
}
.indexphoto {
  max-width: 35%;
  float: right;
  margin-top: 40px;
}

.indexphoto img {
  width: 100%;
  height: auto;
}
h1{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 110pt;
  line-height: .5;
}
p{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 3rem;
}
  .welcome {
  font-style: italic;
  padding-left: 150px;
}

.welcome span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
}
.welcome span:nth-child(1) { animation-delay: 0s; }
.welcome span:nth-child(2) { animation-delay: 0.1s; }
.welcome span:nth-child(3) { animation-delay: 0.2s; }
.welcome span:nth-child(4) { animation-delay: 0.3s; }
.welcome span:nth-child(5) { animation-delay: 0.4s; }
.welcome span:nth-child(6) { animation-delay: 0.5s; }
.welcome span:nth-child(7) { animation-delay: 0.6s; }
.welcome span:nth-child(8) { animation-delay: 0.7s; }

@keyframes rainbow {
  0%   { color: #00FFFF; }
  14%  { color: #FFBF0A; }
  28%  { color: #78F57C; }
  42%  { color: #FF1493; }
  57%  { color: #9932CC; }
  71%  { color: #00FFFF; }
  85%  { color: #FFBF0A; }
  100% { color: #78F57C; }
}