/*will apply to the whole page */
body {
  background: #232323;
  color: #cccccc;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

footer {
  text-align: center;
  font-size: 0.85em;
  color: #cccccc;
  clear: both;
}



/* layout for desktop */

.indexhello {
  font-family: "DM Serif Text", serif;
  float: left;
  /*margin-left: 100px;*/
  margin-left: clamp(10px, 10vw, 100px);
  margin-top: 100px;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 110pt;
  line-height: 1.2;
  margin: 0;
}

.indexintro {
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
  float: right;
  text-align: right;
  margin-left: 230px;
  margin-right: 70px;
}

.indexphoto {
  float: right;
  margin-top: 40px;
  max-width: clamp(50px, 35vw, 420px);
}

.indexphoto img {
  /*width: 100%;*/
  height: auto;
  max-width: clamp(50px, 35vw, 420px);

}

p {
  font-family: "League Spartan", sans-serif;
  font-size: 3rem;
}

/* welcome rainbow animation */

.welcome span {
  display: inline-block;
  animation: rainbow 3s linear infinite;
}

.welcome span:nth-child(n) {
  animation-delay: calc(0.1s * var(--i));
}

/*make sure 0 & 100% are the same color*/
@keyframes rainbow {
  0%   { 
    color: #00FFFF;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
  20%  { 
    color: #FFBF0A;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 191, 10, 0.6); 
  }
  40%  { 
    color: #78F57C;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(120, 245, 124, 0.6); 
  }
  60%  { 
    color: #FF1493;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(255, 20, 147, 0.6); 
  }
  80%  { 
    color: #9932CC; /* Purple */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(153, 50, 204, 0.6); 
  }
  100% { 
    color: #00FFFF; /* 0 & 100% has to be the same color to complete the wav */
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3), 0 0 10px rgba(0, 255, 255, 0.6); 
  }
}

/* responsiveness so it works for all devices and browser sizes */

/* tablets/ipad */
@media (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 1.6rem;
  }

  .indexhello {
    margin-left: 40px;
  }

  .indexintro {
    margin-left: 120px;
    margin-right: 40px;
  }

  .indexphoto {
    max-width: 45%;
  }
  .welcome {
    padding-left: 5px;
  }
}

/* phones */
@media (max-width: 768px) {
  #menu {
    padding-top: 100px;
  }

  .indexhello {
    margin-top: 120px;
    /*float: none;*/
    width: 100%;
    /*margin-left: 100;*/
    text-align: left;
    margin-left: clamp(10px, 10vw, 100px);
  }

  .indexintro {
    margin: 40px 20px;
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .indexphoto {
    max-width: 70%;
    margin: 30px auto;
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

}

  #menuToggle {
    top: 20px;
    left: 20px;
  }

  #menuToggle span {
    width: 28px;
    height: 3px;
  }
#menuToggle input:checked ~ span {
  background: #111;
}

.welcome {
  font-style: italic;
  /*padding-left: 150px;*/
  margin-left: clamp(10px, 10vw, 100px);
}
