body {
  background: #232323;
  color: #cdcdcd;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

footer {
  text-align: center;
  font-size: 0.85em;
  color: #cccccc;
  clear: both;
}

p {
  font-family: "League Spartan", sans-serif;
  font-size: 3rem;
}

/* Hamburger menu */
#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1001;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 1002; 
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff; 
  border-radius: 3px;
  z-index: 1001;
  /* Centering the rotation point */
  transform-origin: 50% 50%; 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* Perfect X Animation */
#menuToggle input:checked ~ span {
  background: #232323; 
}

/* Top line: moves down 9px to the center, then rotates */
#menuToggle input:checked ~ span:nth-child(2) {
  transform: translateY(9px) rotate(45deg);
}

/* Middle line: vanishes */
#menuToggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0.2, 0.2);
}

/* Bottom line: moves up 9px to the center, then rotates */
#menuToggle input:checked ~ span:nth-child(4) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Actual Menu/Nav */
#menu {
  position: fixed;
  width: 350px;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 125px 50px 50px 50px;
  background: #ededed;
  list-style-type: none;
  /* Slide magic */
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 1000;
  font-family: "League Spartan", sans-serif;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: #FF1493;
}
/* end of hamburger menu*/